html {
  font-size: 16px;
  height: 100%; }

body {
  font-family: "Rubik", sans-serif;
  color: #4A4A4A;
  font-weight: 300;
  background-color: #F5E9D6;
  height: 100%; }

nav {
  background-color: #56C4E6;
  padding: 10px 0px;
  font-size: 16px;
  color: white; }
  nav #navbar-brand {
    font-family: "Baloo", sans-serif;
    font-size: 1.1rem; }
  nav a {
    text-decoration: none;
    color: white; }
    nav a:hover {
      color: #004579;
      text-decoration: none;
      font-weight: 500; }
  nav .nav-current {
    color: #004579; }

footer {
  font-size: 12px;
  text-align: center;
  padding: 10px 0px; }

h1 {
  font-family: "Baloo", sans-serif;
  font-size: 2.25rem; }

h2 {
  font-family: "Baloo", sans-serif;
  font-size: 1.8rem; }

h3 {
  font-family: "Baloo", sans-serif;
  font-size: 1.5rem; }

.content {
  padding: 20px; }

.title-red {
  color: #E22E1A; }

.title-blue {
  color: #56C4E6; }

#contactinfo {
  background-color: white;
  text-align: center;
  padding-bottom: 10px;
  padding-top: -5px; }

a#maker {
  text-decoration: underline;
  color: #4A4A4A; }
  a#maker:hover {
    font-weight: 500; }

.fav-name {
  font-weight: 500; }

.fav-item {
  text-align: center; }
  .fav-item img {
    width: 200px;
    height: auto; }

.btn-orange {
  background-color: #F5A623;
  padding: 10px 30px;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 30px;
  border: none;
  color: white;
  margin-top: 20px;
  -webkit-transition: background-color 0.25s;
  -moz-transition: background-color 0.25s;
  transition: background-color 0.25s; }
  .btn-orange:hover {
    background-color: #E22E1A; }
  .btn-orange:focus {
    outline: 0 !important; }

#myCarousel {
  width: 100%; }
  #myCarousel .carousel-caption {
    top: 0;
    bottom: auto;
    text-shadow: 0px 1px 3px #000;
    height: 100%; }
    #myCarousel .carousel-caption p {
      font-size: 1.3rem; }
    @media screen and (max-width: 767px) {
      #myCarousel .carousel-caption h1 {
        font-size: 2rem; }
      #myCarousel .carousel-caption p {
        font-size: 1.2rem; } }
    @media screen and (min-width: 544px) {
      #myCarousel .carousel-caption {
        margin-top: 50px; } }
  #myCarousel .carousel-control.left, #myCarousel .carousel-control.right {
    background-image: none;
    display: none; }
  #myCarousel .carousel-inner .item {
    width: 100%;
    height: 350px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover; }
  #myCarousel .slide1 {
    background: url("../../img/carousel/slide-1.jpg") no-repeat center center; }
  #myCarousel .slide2 {
    background: url("../../img/carousel/slide-2.jpg") no-repeat center center; }
  #myCarousel .slide3 {
    background: url("../../img/carousel/slide-3.jpg") no-repeat center center; }

#customer-favorites {
  background-color: #FAF4E9;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px; }
  #customer-favorites .fav-item {
    padding-top: 30px; }
    #customer-favorites .fav-item img {
      padding-bottom: 10px; }

#news {
  background-image: url("../../img/bg/news.jpg");
  background-size: cover;
  background-position: center bottom;
  color: white;
  height: 300px; }

#basashirt {
  background-image: url("../../img/bg/basashirt.jpg");
  background-size: cover;
  background-position: right bottom;
  height: 300px; }

.link {
  color: #F5A623;
  text-decoration: none;
  font-weight: bold; }
  .link:hover {
    color: #E22E1A;
    text-decoration: none; }

#aboutus {
  background-color: #FAF4E9; }
  @media screen and (min-width: 800px) and (max-width: 991px) {
    #aboutus #about-text {
      margin-bottom: -250px; } }
  @media screen and (min-width: 680px) and (max-width: 799px) {
    #aboutus #about-text {
      margin-bottom: -150px; } }
  #aboutus #about-img {
    padding: 0px; }
    #aboutus #about-img .box {
      position: relative; }
      #aboutus #about-img .box img {
        float: right;
        width: auto;
        height: 100%; }
        @media screen and (min-width: 992px) {
          #aboutus #about-img .box img {
            position: absolute;
            bottom: 0;
            right: 0; } }
        @media screen and (max-width: 543px) {
          #aboutus #about-img .box img {
            width: 100%;
            height: auto; } }

#menu-header {
  background-image: url("../../img/bg/menu.jpg");
  background-size: cover;
  text-align: center;
  color: white;
  text-shadow: 0px 1px 3px #555;
  display: table; }
  #menu-header .content {
    display: table-cell;
    vertical-align: middle; }
    @media screen and (max-width: 767px) {
      #menu-header .content h1 {
        font-size: 2rem; } }
  @media screen and (min-width: 767px) {
    #menu-header {
      height: 300px; } }
  #menu-header p {
    font-size: 1.2rem;
    padding-bottom: 20px; }
    @media screen and (min-width: 767px) {
      #menu-header p {
        padding-left: 100px;
        padding-right: 100px; } }

#nav-menu {
  margin: 0px -15px; }

.navbar-toggle {
  background-color: #E22E1A;
  width: 100%;
  margin: 0px;
  border-radius: 0px;
  font-size: 1.2rem;
  color: white;
  line-height: 0rem;
  padding-top: 18px; }

.fa-chevron-down {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: transform 0.25s linear;
  -moz-transition: transform 0.25s linear;
  transition: transform 0.25s linear; }

.fa-chevron-down.open {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: transform 0.25s linear;
  -moz-transition: transform 0.25s linear;
  transition: transform 0.25s linear; }

#menu-buttons {
  text-align: center;
  color: #F5A623;
  font-weight: 500; }
  #menu-buttons div {
    height: 50px;
    padding: 0px; }
  #menu-buttons .btn-menu {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px #FAF4E9 solid;
    -webkit-transition: font-size 0.25s;
    -moz-transition: font-size 0.25s;
    transition: font-size 0.25s; }
    #menu-buttons .btn-menu:hover {
      font-size: 1rem; }
    #menu-buttons .btn-menu:focus {
      outline: 0 !important; }
    #menu-buttons .btn-menu.active-section {
      background-color: #F5A623;
      color: white; }
      #menu-buttons .btn-menu.active-section:hover {
        font-size: 0.875rem; }

.item-img {
  padding: 5px; }
  .item-img img {
    width: 100%;
    height: auto;
    margin-bottom: 10px; }

.section-header {
  height: 300px;
  background-size: cover; }
  .section-header h1 {
    color: white;
    position: absolute;
    bottom: 0;
    text-shadow: 0px 1px 3px #555;
    margin-left: 5px; }

.menu-section {
  background-color: #FAF4E9;
  padding-bottom: 20px; }
  .menu-section .row {
    width: 100%;
    margin-left: 0px; }
  .menu-section .pricing {
    padding: 0px 20px; }

table {
  width: 100%; }
  table td {
    padding: 10px 0px; }
  table tr:hover {
    color: #E22E1A; }
    table tr:hover td.item-price {
      font-weight: 500; }
  table td.item-name {
    width: 80%;
    padding-right: 20px;
    font-weight: 500; }
  table td.item-price {
    width: 20%; }

#sandwiches .section-header {
  background-image: url("../../img/bg/sandwiches.jpg"); }

#pokesushi .section-header {
  background-image: url("../../img/bg/pokesushi.jpg"); }

#fishchipschowder .section-header {
  background-image: url("../../img/bg/fishchipschowder.jpg"); }

#ricebowlsalad .section-header {
  background-image: url("../../img/bg/ricebowlsalad.jpg"); }

#oysterstacosceviche .section-header {
  background-image: url("../../img/bg/oysterstacosceviche.jpg"); }

#specialcombos .section-header {
  background-image: url("../../img/bg/specialcombos.jpg"); }

#sidesdrinks .section-header {
  background-image: url("../../img/bg/sidesdrinks.jpg"); }

#partytrays .section-header {
  background-image: url("../../img/bg/partytrays.jpg"); }

/*# sourceMappingURL=basaseafoodexpress.css.map */
